*{
    padding: 0;
    margin: 0;
}
:root{
    --heading-font:  "Permanent Marker", cursive;
    --background-colour: linear-gradient(to right,#3c424d ,#3869be);
    
    /* --button-colour: #E4C1F9; */
    --button-colour:linear-gradient(to right,#E4C1F9 ,#bf6bf0);
    --button-font: "Sen", sans-serif;
    --plus-colour: #384152;
    --add-colour:#D0F4DE;
    --minus-colour: #FF99C8;
    --disabled-colour: #f4cee0a1;
    --workout-colour: rgba(255, 247, 247, 0.934);
    --textarea-colour: #a8aaad2c;
    --border :2px solid black;
    --label-background: #FCF6BD;
}
/* .righteous-regular {
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
  } */

/* colour palette  link https://coolors.co/ff99c8-fcf6bd-d0f4de-a9def9-e4c1f9 */
body {
    background: var(--background-colour);
}




h2{
    padding-top: 3em;
    text-align: center;
    font-size: 3em;
    font-family: var(--heading-font);
    padding-bottom: 2em;
}
.workout{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-top: 2em;
}
.workoutLayout{
    background-color: var(--workout-colour);
    width: 45em;
    margin: auto;
    margin-bottom: 6em;
    border: var(--border);
    position: relative;
    text-align: center;
    animation : fadeInX 1s ease;


}
#exercise {
    margin: 2em;
}

.exerciseName{
    resize: none;
    width: 12em;
    border: none;
    
    /* left: 5em;  */
    position: relative;
    margin:auto;
    font-size: 2.5em;
    height: 1.2em;
    border-bottom: var(--border);
    display: flex;
    justify-content: center;
    

    
}


/* is the value of exercisename  */
.exerciseLabel{
    font-family: var(--button-font);
    font-size: 2em;
    font-weight: bold;
   
    margin-top: .5em;
    position: absolute;
    transform: translateX(-50%);


}
.workoutTable{
    margin-bottom: 5em;
}

.information{
    animation : fadeIn 2s ease;
}
.information tr th {
    font-family: var(--button-font);
    padding: 1.5em;
    padding-top: 4.5em;
}
td{
    font-family: var(--button-font);
}
td input{
    width: 5em;
    height:5em;
    font-size: 2em;
    text-align: center;
    overflow: hidden !important;
    box-sizing: border-box;
    background-color: var(--textarea-colour);
    border-radius: 15%;


}
td input[type="number"]{
    width: 3em;
    height: 3em;
    border: none ;
    
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.notes{
    font-size: 1em;
    font-weight: 200;
    width: 13em;
    border-radius: 5%; 
    height: 6em;
    font-family: var(--button-font);
    background-color: var(--textarea-colour);
    resize: none !important;
}
button{

    justify-content: center;
    /* border-radius: 45%; */
    height: 4em;
    width: 15em;
    background: var(--button-colour);
    font-family: var(--button-font);
    font-size: 1.2em;


}

/* create a plus in css  */
.add{
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    
}
.minus{
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    

}

.button{
    height: 2.5em;
    width: 100%;
    
}
.add button{
    background: var(--add-colour) !important;
    
}
.minus button{
    background: var(--minus-colour) !important;
}
.minus button:disabled{
    background: var(--disabled-colour) !important;
}
.line1  {
    position: absolute;
    width: 1.5em;
    height: .1em;
    background-color: var(--plus-colour);
    top:50% ;
    transform: translate(-50%, -50%);
    left: 50%;
}

.line2{
    position: absolute;
    width: .1em;
    height: 1.5em;
    background-color: var(--plus-colour);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
   
}