*{
    padding: 0;
    margin: 0;
}
:root{
    --heading-font:  "Bangers", system-ui;
    --background-color: #A9DEF9;
    --button-color: #D0F4DE;
    --button-font: "Sen", sans-serif;
}

/* colour palette  link https://coolors.co/ff99c8-fcf6bd-d0f4de-a9def9-e4c1f9 */
body {
    background-color: var(--background-color);
}

main{
    
    
} 


h2{
    padding-top: 3em;
    text-align: center;
    font-size: 3em;
    font-family: var(--heading-font);
    padding-bottom: 5em;
}
.workout{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2em;
}
button{

    justify-content: center;
    /* border-radius: 45%; */
    height: 4em;
    width: 15em;
    background-color: var(--button-color);
    font-family: var(--button-font);
    font-size: 1.2em;

}

/* create a plus in css  */



